<h3>Listado de heroes</h3>

<div  *ngIf="deletedHeroes; else nothingWasDeleted">
  <h4 >Heroe eliminado: <small class="text-danger">{{ deletedHeroes }}</small> </h4>
</div>

<ng-template #nothingWasDeleted>
  <h4>No hay heroes eliminados</h4>
</ng-template>


<button
*ngIf="heroNames.length > 0"  
(click)="removeLastHero()" class="btn btn-outline-danger mx-2">
  Borrar ultimo heroe
</button>

<button
*ngIf="heroNames.length > 0"  
(click)="removeFirstHero()" class="btn btn-outline-danger">
  Borrar primer heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>
</ul>

<button (click)="resetHeroes()"
class="btn btn-primary mt-5">reset
</button>

